<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, size: 80 %>
  </div>

    <h3>※以下の内容は変更しないで下さい。</h3>
  <div class="field">
    <%= f.label :controller_name %><br />
    <%= f.text_field :controller_name %>
  </div>
  <div class="field">
    <%= f.label :action_name %><br />
    <%= f.text_field :action_name %>
  </div>
  <div class="field">
    <%= f.label :params_value %><br />
    <%= f.text_area :params_value, cols:20, rows:5 %>
  </div>
  <div class="field">
    <%= f.label :folder_id %><br />
    <%= f.text_field :folder_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
    <br />
  <div class="actions">
    <%= f.submit %>
  </div>
    <br />
<% end %>
