<%= paginate @songs %>
<table>
  <tr>
    <th>Id</th>
    <th>Code</th>
    <th>Title</th>
    <th>Last update</th>
    <th></th>
    <th></th>
  </tr>

  <% @songs.each do |song| %>
      <tr>
        <td><%= song.id %></td>
        <td><%= song.code %></td>
        <td><%= link_to song.title, song %></td>
        <td><%= song.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= link_to_pdf(song.id) %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Del', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
<%= paginate @songs %>
