<%- title -%>
<%= form_for @song_search_form, :url => search_songs_path, :html => {:method => :get} do |f| -%>
    <p>検索
      <%= f.select(:code, Song.code_options, :include_blank => 'コード') %>
      <%= f.text_field :q, :size => "30" %>
      <%= f.submit "search" %>
    </p>
<%- end -%>
<%= render :partial => 'list' %>

<%= link_to 'Back', songs_path %>
