<%- title @song.title -%>
<p id="notice"><%= notice %></p>

<div id="boxA">
<pre class='small'><%= suppress_ruby @song.words %></pre>
</div>

<div id="boxB">
<p>『<%= @song.title %>』(<%= @song.code %>)</p>

<%- @song.outline.each_with_index do |header, idx| %>
    <p><%= link_to_function(suppress_ruby(header), "change_remote(#{idx},'#{detail_song_url(@song)}')") %></p>
<%- end -%>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
</div>