<%- title @song.title -%>
<p id="notice"><%= notice %></p>

<div id="thumbnail-area">
<%- @song.phrases.each do |phrase| -%>
<pre class="thumbnail"><%= suppress_ruby phrase %></pre>
<%- end -%>
</div>
<script type="text/javascript">
  $('pre.small').draggable({axis:'y', revert: true, cursor:'move'});
</script>

<div id="boxB">
<p>『<%= @song.title %>』(<%= @song.code %>)</p>

<%- @song.outline.each_with_index do |header, idx| %>
    <p><span class="btn"><%= idx + 1 %></span><%= link_to_function(suppress_ruby(header),
                            "change_remote(#{idx},'#{detail_song_url(@song)}')",
                            :id => "change-button-#{idx}",
                            :class => 'change-button' ) %></p>
<%- end -%>

<%= link_to 'ReOpen', detail_song_path(@song), :target => 'projector' %> |
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %> |
<%= button_to_blank %>
</div>
<script type="text/javascript">
  $(document).keydown(function(event) {
      var url = '<%= detail_song_url(@song) %>';
      var size = <%= @song.phrases.size %>;
      var key = event.keyCode;

      if (key == 38) {
          prev_remote(url);
      } else if (key == 40) {
          next_remote(url);
      } else if (key >= 49 && key < 49 + size) {
          change_remote(key - 49, url);
      }
      return false;
  });
</script>
