<%= form_for @book_search_form, :url => search_books_path, :html => {:method => :get, :target => "projector"} do |f| %>
    <table class="books">
      <%- [ @book_names[0..21], @book_names[22..43], @book_names[44..65] ].transpose.flatten.each_with_index do |book_name,i| -%>
          <%- if i % 3 == 0 %> <tr> <%- end -%>

          <td><%= f.radio_button :n, book_name.id %><%=  book_name.japanese %>/<%= book_name.english %></td>

          <%- if i % 3 == 2 %> </tr> <%- end -%>
      <%- end -%>
    </table>

    <%= f.text_field :c, :size => 3 %>章(chapter)
    <%= f.text_field :vf, :size => 4 %>節(verse) 〜
    <%= f.text_field :vt, :size => 4 %>節(verse)<br />
    <%= f.radio_button :lang, BookSearchForm::LANG_BOTH %>日本語 &amp; English
    <%= f.radio_button :lang, BookSearchForm::LANG_JAPANESE %>日本語のみ
    <%= f.radio_button :lang, BookSearchForm::LANG_ENGLISH %>English Only<br />
    <%= f.submit 'Open' %> <input type="reset" value="Reset">
<%- end %>

<h2>menu</h2>
<ul>
  <li><%= link_to '賛美歌詞表示 - Praise songs', songs_path %></li>
  <li><%= link_to 'メッセージスライド - Message summaries', slides_path %></li>
</ul>